<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quickstart App.</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section></section>
    <section><%- body %></section>
  </body>
</html>
